.heading {
    font-size: 23px;
    text-align: center;
    }
    
 .note {
        font-size: 15px;
        color: black;
        text-align: center;
    }
    
    body {
        background: cover;
    }
    
    
    canvas {

        border: 5px solid black;
        border-radius: 20px;
    }